<!DOCTYPE html>
<html>
<meta property="csp-nonce" content="{{ styleNonce }}">
<head>
  <title>anomic</title>
  <!-- Page Contents -->
</head>
<body>
  <h6>{{title}}</h6>
  {{{body}}}
  <div id="youtubeplaywrap">
  <img alt="img" src="https://i.ytimg.com/vi/{{videoid}}/mqdefault.jpg">
  <!-- <iframe id="youtubeplayer" class="video w100" width="170" height="140" src="//www.youtube.com/embed/{{videoid}}" frameborder="0" allowscriptaccess="always" allowfullscreen></iframe> -->
</div>
</body>
</html>
<!-- <script src="js/app.js"></script>
<script src="js/io.js"></script>
<script src="js/streaming.js"></script>
<script src="./janus.js"></script> -->
<script src="js/youtubeapi.js"></script>
