<!DOCTYPE html>
<html>
<meta property="csp-nonce" content="{{ styleNonce }}">
<head>
  <title>anomic</title>
  <!-- Page Contents -->
</head>
<body>
  <h6>{{title}}</h6>
  {{{body}}}
</div>
<!-- <img id="youtubevideo" alt="img" width="190" height="140" src="https://img.youtube.com/vi/{{videoid}}/hqdefault.jpg" target="youtubeplayer">
<div id="vidNow"></div>
<iframe name='youtubeplayer' id='youtubeplayer' class='video w100' width='640' height='360' src='https://www.youtube.com/embed/{{videoid}}?rel=0' frameborder='0' allowscriptaccess='always' allowfullscreen></iframe> -->

</div>
</body>
</html>
<!-- <script src="js/app.js"></script>
<script src="js/io.js"></script>
<script src="js/streaming.js"></script>
<script src="./janus.js"></script> -->
<!-- <script src="js/youtubeapi.js"></script> -->
