<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta property="csp-nonce" content="{{ styleNonce }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.css">
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <script src="./node_modules/jquery/dist/jquery.js"></script>
      <!-- animsition.css -->
    
<!-- animsition.js -->

  <!-- Site Properties -->
  <title>Homepage</title>
</head>
<body>
<!-- Following Menu -->



</div>
<!-- Page Contents -->

  
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item">home</a>
        <a class="item">about</a>            {{#if user}}
        <a href="/profile" class="item">view profile</a>
        <a class="right item">
                        <b><h4 id="greeting">wb, {{user.name}}&nbsp;&nbsp;<i class="fitted small thumbs up icon"></i></h4></b>
                        </a>
        <div class="right item">
            <form action="/logout" method="post">
            <button name="logout" class="ui large inverted button" id="btnlogout">log out</button>
            </form>
          {{else}}
          <div class="right item">
          <a href="/users/login" class="ui inverted button" id="btnlogin">log in</a>
          <a href="/users/register" class="ui inverted button"id="btnlogin">sign up</a>
          {{/if}}
        </div>
      </div>
    <div class="ui text container">
      <h1 class="ui inverted header">
        anomic
      </h1>
      <div class="ui header">
      <div class="ui animated huge primary button" tabindex="0">
<div id="join-btn" class="visible content">create a room <i class="right user plus icon"></i></div>
<div class="ui mini inverted basic modal">
  <div class="ui centered large header">
    <i class="wechat icon"></i>
    enter a room name.
  </div>
  <div class="content">
    <div class="field">
      
      



<div class="ui form">
  <form method="post" action="/newroom">
<div class="field">
  <div class="field">      <div class="ui grid centered">
    <input placeholder="Room name" type="text" name="name1" value="">
  </div>
    </div>
</div>
</div>
  </div>
  </div>
  <div class="actions">
    <div class="ui basic segment"></div>
    <div class="ui large centered red inverted cancel button">
      <i class="centered remove icon"></i>
      NVM
    </div>
    <button class="ui large centered green ok inverted button" type="submit" action="submit">
      <i class="centered checkmark icon"></i>
      OK
    </button>
    <div class="ui basic segment"></div>
    <div class="ui centered grid">
        <h6><p>by creating a room you are consenting to our privacy agreement, along with terms & conditions.</p></h6>
        </div>
        </form>
  </div>
</div>
</div>
<a class="hidden content"></a>
  </div>
</div>
</div>    <div id="texttween">
    <h3 id="texttween" class="ui centered grid">
    <div class="ui container">
    </div>
  </div>
</div>

{{{body}}} 



    <h3 class="ui center aligned header"></h3>
  </div>
  <h2 class="ui center aligned icon header">
  <i class="circular center aligned camera retro icon"></i>
  livestreams
  </h2>
<div class="container">
<div class="ui basic segment"id="peopleshape">
</div>
<div class="centered ui grid">
<div class="ui people shape"id="peopleshape">
  <div class="sides"id="peopleshape">
    <div class="side"id="peopleshape">
      <div class="ui card"id="peopleshape">
        <div class="image">
          <img src="/images/victorbaton.png">
        </div>
        <div class="content">
          <div class="header">victorbaton</div>
          <div class="meta">
            <a>Birthdate unknown
            <br>
            Streamtime unknown</a>
          </div>
          <div class="description">
          Pain and suffering are always inevitable for a large intelligence and a deep heart..
          </div>
        </div>
        <div class="extra content">
          <span class="right floated"><i class="user icon"></i>
            5 watching
          </span>
          <span>
            <i class="frown icon"></i>
            5 Friends
          </span>
        </div>
      </div>
    </div>
    <div class="side active"id="peopleshape">
      <div class="ui card"id="peopleshape">
        <div class="ui rounded image"id="peopleshape">
          <img src="/images/slater.jpg">
        </div>
        <div class="center aligned content">
          <a class="header">brother_trucker</a>
          <div class="meta">
            <span class="date">Streaming since: 9:02 AM</span>
          </div><div class="ui basic segment"id="peopleshape">
          <div class="description">
            lets go
          </div>
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="smile icon"></i>
            22 Friends
            &nbsp;
            &nbsp; 
            <i class="users icon"></i>
            666 watching
            </a>
        </div>
      </div>
    </div>
  </div>
  <div class="ui ignored grey icon direction buttons">
    <div class="ui button left" id="liveuserbutton1" data-animation="flip" title="Flip Left" data-direction="left"><i class="left long arrow icon"></i></div>
    <div class="ui icon button right" id="liveuserbutton2" data-animation="flip" title="Flip Right" data-direction="right"><i class="right long arrow icon"></i></div>
  </div>
</div>
</div>
</div>
<div class="ui basic segment">
</div>
<div class="ui basic segment">
</div>
<div class="ui basic segment">
</div>
<div class="ui small basic segment">
</div>
<h2 class="ui center aligned icon header">
<i class="circular center aligned wechat icon"></i>
live chats
</h2>
  <br>
  <br>
  
  
  <div class="scroll container" id="#scroller">
  <div class="ui container">
    <div id="remote-videos" class="ui relaxed grid">
      <div class="four wide column">
      <div data-aos="fade-down-right">
        <div id="roomsseg" class="ui raised segment"data-tooltip="ACTIVE USERS:" data-position="top right" data-inverted="">
        <img class="ui centered circular medium image" src="images/robotsleep.png">
        <a href="/room?name=1" class="item">r9
        </h4>
        <p>Lorem ipsum dolor sit amet, ad odio erroribus vel, iuvaret incorrupte id pro, ut dicta dolor perpetua pro.</p>
        <br>
      </div>
      </div>
    </div></a>
      <div class="four wide column">
      <div data-aos="fade-down-right">
        <div id="roomsseg" class="ui raised segment"data-tooltip="ACTIVE USERS:" data-position="top right" data-inverted="">
        <img class="ui centered circular medium image" src="images/ttimechat.jpeg">
        <h4 class="ui center aligned header"><a href="/room?name=2">ttimechat</h4>
                  <p>Lorem ipsum dolor sit amet, ad odio erroribus vel, iuvaret incorrupte id pro, ut dicta dolor perpetua pro.</p>
        <br>
      </div>
      </div>
    </div></a>
      <div class="four wide column">
      <div data-aos="fade-down-left">
        <div id="roomsseg" class="ui raised segment"data-tooltip="ACTIVE USERS:" data-position="top right" data-inverted="">
        <img class="ui centered circular medium image" src="images/herbology.gif">
        <h4 class="ui center aligned header"><a href="/room?name=3">herbology</h4>
                  <p>Lorem ipsum dolor sit amet, ad odio erroribus vel, iuvaret incorrupte id pro, ut dicta dolor perpetua pro.</p>
        <br>
      </div>
    </div>
  </div></a>
      <div class="four wide column">
      <div data-aos="fade-down-left">
        <div id="roomsseg" class="ui raised segment"data-tooltip="ACTIVE USERS:" data-position="top right" data-inverted="">
        <img class="ui centered circular medium image" src="images/glitchify.gif">
        <h4 class="ui center aligned header"><a href="/room?name=4">glitchify</h4>
                  <p>Lorem ipsum dolor sit amet, ad odio erroribus vel, iuvaret incorrupte id pro, ut dicta dolor perpetua pro.</p>
        <br>
      </div>
    </div>
  </div></a>
      <div class="four wide column">
      <div data-aos="fade-down-left">
        <br>
        <div id="roomsseg" class="ui raised segment"data-tooltip="ACTIVE USERS:" data-position="top right" data-inverted="">
        <img class="ui centered circular medium image" src="images/dabbit.jpeg">
        <h4 class="ui center aligned header"><a href="/room?name=5">dabbit</h4>
                  <p>Lorem ipsum dolor sit amet, ad odio erroribus vel, iuvaret incorrupte id pro, ut dicta dolor perpetua pro.</p>
      </br>
      </div>
      </div>
    </div></a>
      <div class="four wide column">
      <div data-aos="fade-down-left">
        <br>
        <div id="roomsseg" class="ui raised segment"data-tooltip="ACTIVE USERS:" data-position="top right" data-inverted="">
        <img class="ui centered circular medium image" src="images/pinoyextreme101.jpg">
        <h4 class="ui center aligned header"><a href="/room?name=6">pinoyextreme101</h4>
        <p>Lorem ipsum dolor sit amet, ad odio erroribus vel, iuvaret incorrupte id pro, ut dicta dolor perpetua pro.</p>
      </br>
      </div>
      </div>
    </div></a>
      <div class="four wide column">
      <div data-aos="fade-down-right">
        <br>
        <div id="roomsseg" class="ui raised segment"data-tooltip="ACTIVE USERS:" data-position="top right" data-inverted="">
        <img class="ui centered circular medium image" src="images/gts3.jpeg">
        <h4 class="ui center aligned header"><a href="/room?name=7">gts3</h4>
        <p>Lorem ipsum dolor sit amet, ad odio erroribus vel, iuvaret incorrupte id pro, ut dicta dolor perpetua pro.</p>
        <br>
      </div>
      </div>
    </div></a>
      <div class="four wide column">
      <div data-aos="fade-down-right">
        <br>
        <div id="roomsseg" class="ui raised segment"data-tooltip="ACTIVE USERS:" data-position="top right" data-inverted="">
        <img class="ui centered circular medium image" src="images/th3outcasts.png">
        <h4 class="ui center aligned header"><a href="/room?name=8">th3outcasts</h4>
        <p>Lorem ipsum dolor sit amet, ad odio erroribus vel, iuvaret incorrupte id pro, ut dicta dolor perpetua pro.</p>
        <br>
      </div>
      </div>
    </div></a>
      <div class="four wide column">
      <div data-aos="fade-down-right">
        <div id="roomsseg" class="ui raised segment"data-tooltip="ACTIVE USERS:" data-position="top right" data-inverted="">
        <img class="ui centered circular medium image" src="images/robotsleep.png">
        <h4 class="ui center aligned header"><a href="/room?name=9" class="item">r9
        </h4>
        <p>Lorem ipsum dolor sit amet, ad odio erroribus vel, iuvaret incorrupte id pro, ut dicta dolor perpetua pro.</p>
        <br>
      </div>
    </div></a>
    </div>
      <div class="four wide column">
      <div data-aos="fade-down-right">
        <div id="roomsseg" class="ui raised segment"data-tooltip="ACTIVE USERS:" data-position="top right" data-inverted="">
        <img class="ui centered circular medium image" src="images/ttimechat.jpeg">
        <h4 class="ui center aligned header"><a href="/room?name=10" class="item">ttimechat</h4>
        <p>Lorem ipsum dolor sit amet, ad odio erroribus vel, iuvaret incorrupte id pro, ut dicta dolor perpetua pro.</p>
        <br>
      </div>
      </div>
    </div></a>
      <div class="four wide column">
      <div data-aos="fade-down-left">
        <div id="roomsseg" class="ui raised segment"data-tooltip="ACTIVE USERS:" data-position="top right" data-inverted="">
        <img class="ui centered circular medium image" src="images/herbology.gif">
        <h4 class="ui center aligned header"><a href="/room?name=11" class="item">herbology</h4>
        <p>Lorem ipsum dolor sit amet, ad odio erroribus vel, iuvaret incorrupte id pro, ut dicta dolor perpetua pro.</p>
        <br>
      </div>
    </div>
    </div></a>
      <div class="four wide column">
      <div data-aos="fade-down-left">
        <div id="roomsseg" class="ui raised segment"data-tooltip="ACTIVE USERS:" data-position="top right" data-inverted="">
        <img class="ui centered circular medium image" src="images/glitchify.gif">
        <h4 class="ui center aligned header"><a href="/room?name=12" class="item">glitchify</h4>
        <p>Lorem ipsum dolor sit amet, ad odio erroribus vel, iuvaret incorrupte id pro, ut dicta dolor perpetua pro.</p>
        <br>
      </div>
    </div>
    </div></a>
      <div class="four wide column">
      <div data-aos="fade-down-left">
        <br>
        <div id="roomsseg" class="ui raised segment"data-tooltip="ACTIVE USERS:" data-position="top right" data-inverted="">
        <img class="ui centered circular medium image" src="images/dabbit.jpeg">
        <h4 class="ui center aligned header"><a href="/room?name=13" class="item">dabbit</h4>
        <p>Lorem ipsum dolor sit amet, ad odio erroribus vel, iuvaret incorrupte id pro, ut dicta dolor perpetua pro.</p>
      </br>
      </div>
      </div>
    </div></a>
      <div class="four wide column" id="infinite-scrolling">
      <div data-aos="fade-down-left">
        <br>
        <div id="roomsseg" class="ui raised segment"data-tooltip="ACTIVE USERS:" data-position="top right" data-inverted="">
        <img class="ui centered circular medium image" src="images/pinoyextreme101.jpg">
        <h4 class="ui center aligned header"><a href="/room?name=14" class="item">pinoyextreme101</h4>
        <p>Lorem ipsum dolor sit amet, ad odio erroribus vel, iuvaret incorrupte id pro, ut dicta dolor perpetua pro.</p>
      </br>
      </div>
      </div>
    </div></a>
      <div class="four wide column">
      <div data-aos="fade-down-right">
        <br>
        <div id="roomsseg" class="ui raised segment"data-tooltip="ACTIVE USERS:" data-position="top right" data-inverted="">
        <img class="ui centered circular medium image" src="images/gts3.jpeg">
        <h4 class="ui center aligned header"><a href="/room?name=15" class="item">gts3</h4>
        <p>Lorem ipsum dolor sit amet, ad odio erroribus vel, iuvaret incorrupte id pro, ut dicta dolor perpetua pro.</p>
        <br>
      </div>
      </div>
    </div></a>
      <div class="four wide column">
      <div data-aos="fade-down-right">
        <br>
        <div id="roomsseg" class="ui raised segment"data-tooltip="ACTIVE USERS:" data-position="top right" data-inverted="">
        <img class="ui centered circular medium image" src="images/th3outcasts.png">
        <h4 class="ui center aligned header"><a href="/room?name=16" class="item">th3outcasts</h4>
        <p>Lorem ipsum dolor sit amet, ad odio erroribus vel, iuvaret incorrupte id pro, ut dicta dolor perpetua pro.</p>
        <br>
      </div></a>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
{{ socket.rooms }}
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Pro services</a>
            <a href="#" class="item">FAQ</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">anomic</h4>
          <p>	&#169; 2019</p>
          <div class="transition visible">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

<script src="js/reset.js"></script>
<script src="semantic/dist/semantic.min.js"></script>
<script src="semantic/dist/components/visibility.js"></script>
<script src="semantic/dist/components/sidebar.js"></script>
<script src="semantic/dist/components/transition.js"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="js/fadeinout.js"></script>
<script src="js/jquery-textTweener.min.js"></script>
<script src="js/scrollbox.js"></script>
<script src="js/texttween.js"></script>
<script src="js/transin.js"></script>
<script src="js/transitions.js"></script>
<script src="js/aos.js"></script>
<script src="js/modal.js"></script>
<script src="js/header.js"></script>
<script src="js/usercheck.js"></script>
<script src="js/room.js"></script>
<script src="scripts/handlebars/dist/handlebars.min.js "></script>
</body>

</html>
