<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.css">  
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/transin.js"></script>
    <script type="text/javascript" src="js/transitions.js"></script>
    <!-- animsition.css -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <script src="semantic/dist/semantic.js"></script>
  <script src="semantic/dist/components/form.js"></script>
  <!-- Site Properties -->
  <title>Sticky Example - Semantic</title>
  <script>
  $(document)
    .ready(function() {

      // fix main menu to page on passing
      $('.main.menu').visibility({
        type: 'fixed'
      });
      $('.overlay').visibility({
        type: 'fixed',
        offset: 80
      });

      // lazy load images
      $('.image').visibility({
        type: 'image',
        transition: 'vertical flip in',
        duration: 500
      });

      // show dropdown on hover
      $('.main.menu  .ui.dropdown').dropdown({
        on: 'hover'
      });
    })
  ;
  </script>

  <style type="text/css">

  body { 
    visibility:hidden !important; 
    background-color: #FFFFFF;
  }
  .main.container {
    margin-top: 2em;
  }

  .main.menu {
    margin-top: 4em;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition:
      box-shadow 0.5s ease,
      padding 0.5s ease
    ;
  }
  .main.menu .item img.logo {
    margin-right: 1.5em;
  }

  .overlay {
    float: left;
    margin: 0em 3em 1em 0em;
  }
  .overlay .menu {
    position: relative;
    left: 0;
    transition: left 0.5s ease;
  }

  .main.menu.fixed {
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  }
  .overlay.fixed .menu {
    left: 800px;
  }

  .text.container .left.floated.image {
    margin: 2em 2em 2em -4em;
  }
  .text.container .right.floated.image {
    margin: 2em -4em 2em 2em;
  }

  .ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
  }
  .commentarea {
    height:50px;
  }

  </style>

</head>
<body>




  
  <!-- Sidebar Menu -->
  <div class="ui vertical inverted sidebar menu">
    <a class="active item">Home</a>
    <a class="item">Login</a>
    <a class="item">Signup</a>
  </div>
  
  
  <!-- Page Contents -->
  <div class="pusher">
    
    <div class="ui inverted vertical masthead center aligned segment">
  
      <div class="ui padded container">
        <div class="ui large secondary inverted pointing menu">
          <a class="toc item">
            <i class="sidebar icon"></i>
          </a>
          <a class="active item">home</a>
          <a class="item">about</a>
          <div class="right item">
            <a href="/users/login" class="ui inverted button">log in</a>
            <a href="/users/register" class="ui inverted button">sign up</a>
          </div>
        </div>
      </div>
  </div>
  <div class="ui main text container">
    <div class="ui medium basic segment">
        {{  image.public.id }}
        
        <script>
        var arrayImg = new Array();
        arrayImg[0] = "avatar1.png";
        arrayImg[1] = "avatar2.png";
        arrayImg[2] = "avatar3.png";
        arrayImg[3] = "avatar4.png";
        arrayImg[4] = "avatar5.png";
        arrayImg[5] = "avatar6.png";
        arrayImg[6] = "avatar7.png";
        
        
        getRandomImage(arrayImg, "");
        
        function getRandomImage(imgAr, path) {
            path = path || 'avatars/'; // default path here
            var num = Math.floor( Math.random() * imgAr.length );
            var img = imgAr[ num ];
            var imgStr = '<img class="ui medium circular floated left image" src="' + path + img + '" alt = "">';
            document.write(imgStr); document.close();
        }
</script>
        <h2 class="ui header">
  <i class="icon gem outline large"></i>
  <div class="content">
    <h1 class="ui header huge">{{user.name}}</h1>
  </div>
</h2>
    <h6 class="ui header mini">Member since: {{user.createdOn}}</h6>
    <h6 class="ui header mini">{{user.is_active}}</h6>
    <div class="ui buttons">
    <button class="ui primary basic button">
  <i class="mail icon"></i>
  PM
</button>
  </div>
  <button class="ui primary basic button">
  <i class="icon blue user"></i>
  Add Friend
</button>
  <br>
  <br>
  <div class="ui text container">
    {{user.bio}}
    {{user.userId}}
    {{user.image}}
  </div>
    <p>Ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.s</p>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor</p>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor</p>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante</p><img class="ui small floated circular right image" src="images/image.png"> <p>ue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
    <p>tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
      <p>tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
      </div>
      <div class="ui comments large">
    <h3 class="ui dividing header">Comments</h3>
    <div class="comment">
      <a class="avatar">
        <img src="/images/image.png">
      </a>
      <div class="content">
        <a class="author">Matt</a>
        <div class="metadata">
          <span class="date">Today at 5:42PM</span>
        </div>
        <div class="text">
          How artistic!
        </div>
        <div class="actions">
          <a class="reply">Reply</a>
        </div>
      </div>
    </div>
    <div class="comment">
      <a class="avatar">
        <img src="/images/image.png">
      </a>
      <div class="content">
        <a class="author">Elliot Fu</a>
        <div class="metadata">
          <span class="date">Yesterday at 12:30AM</span>
        </div>
        <div class="text">
          <p>This has been very useful for my research. Thanks as well!</p>
        </div>
        <div class="actions">
          <a class="reply">Reply</a>
        </div>
      </div>
      <div class="comments">
        <div class="comment">
          <a class="avatar">
            <img src="/images/image.png">
          </a>
          <div class="content">
            <a class="author">Jenny Hess</a>
            <div class="metadata">
              <span class="date">Just now</span>
            </div>
            <div class="text">
              Elliot you are always so right :)
            </div>
            <div class="actions">
              <a class="reply">Reply</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="comment">
      <a class="avatar">
        <img src="/images/image.png">
      </a>
      <div class="content">
        <a class="author">Joe Henderson</a>
        <div class="metadata">
          <span class="date">5 days ago</span>
        </div>
        <div class="text">
          Dude, this is awesome. Thanks so much
        </div>
        <div class="actions">
          <a class="reply">Reply</a>
        </div>
      </div>
    </div>
    <form class="ui small reply form">
      <div class="field">
        <input class="commentarea"></input>
      </div>
      <div class="ui blue labeled submit icon inverted button">
        <i class="icon edit"></i> Post Comment
      </div>
    </form>
  </div>
  </div>
  <div class="overlay">
    
    
    <div class="ui labeled floated left icon horizontal menu">
      <a class="item"><i class="twitter icon"></i> Tweet</a>
      <a class="item"><i class="facebook icon"></i> Share</a>
      <a class="item"><i class="mail icon"></i> E-mail</a>
    </div>
  </div>

  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Pro services</a>
            <a href="#" class="item">FAQ</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">hardshatters</h4>
          <p>	&#169; 2001</p>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

</html>
